<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-del-projecto-equipo-41/blob/main/Reto_Entrega_1_Equipo41.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Portada
---

<br>
<p align=center>Instituto Tecnológico y de Estudios Superiores de Monterrey</p>
<p align=center>Escuela de Ingeniería y Ciencias</p>
<p align=center>
<br>
<img src="https://github.com/PosgradoMNA/actividades-del-projecto-equipo-41/blob/main/tec.png?raw=true" alt="Logo" width="250"/>
</p>
<br>
<p align=center>Maestría en Inteligencia Artificial Aplicada (MNA)</p>
<p align=center>TC4029. Ciencia y Analítica de Datos</p>
<p align=center> Profesor Titular: María de la Paz Rico </p>
<p align=center> <b>Reto Final - Parte I</b> </p>
<br>
<p align=center>Presentan:</p>
<p align=center>A01150742 | Ovalle Alvarado José</p>
<p align=center>A01793023 | Arroyo Chavelas Jorge Luis</p>
<p align=center>16 de Noviembre de 2022</p>
<br>

---

[GitHub Link](https://github.com/PosgradoMNA/actividades-del-projecto-equipo-41/blob/main/Reto_Entrega_1_Equipo41.ipynb)

# Introducción

En este documento, presentamos un análisis de datos de la calidad del agua para aguas subterraneas. En esta primera parte nos enfocaremos en un análisis exploratorio de los datos, pero este trabajo servirá también como base para un modelo de predicción del semaforo de calidad de la misma, por lo que la metodología irá encaminada no sólo al análisis sino a un proyecto de ciencia de datos y aprendizaje automático completo; desde su análisis exploratorio hasta la presentación de un modelo de clasificación para este semaforo.

Preapremos primero nuestro ambiente de análisis:

In [119]:
############################################################################################
# Librerias y funciones:
############################################################################################

# Para obtener los datos
import requests
import zipfile
import io

# Para manipualr datos
import pandas as pd
import numpy as np

# Para visualizaciones:
from tabulate import tabulate
from matplotlib import pyplot as plt
import seaborn as sns

# Para particiones y validaciones
from sklearn.model_selection import train_test_split
from sklearn.model_selection import RepeatedStratifiedKFold
from sklearn.model_selection import cross_validate
from sklearn.model_selection import GridSearchCV
#from sklearn.model_selection import learning_curve
#from sklearn.model_selection import validation_curve

# Para transformaciones:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import FunctionTransformer

# Para pipelines:
from sklearn.pipeline import Pipeline
from sklearn.pipeline import make_pipeline
from sklearn.compose import ColumnTransformer

# Otras utilidades
import functools
import warnings

%matplotlib inline

Obtengamos los datos:

In [ ]:
############################################################################################
# Llamar los datos:
############################################################################################

# Definir la url de donde obtener los datos:
datos_url = 'http://201.116.60.46/Datos_de_calidad_del_agua_de_5000_sitios_de_monitoreo.zip'

# Obtener la respuesta:
datos_response = requests.get(datos_url, stream=True)

# Tomar respuesta como zip en cache:
datos_zip = zipfile.ZipFile(io.BytesIO(datos_response.content))

# Extraer todos los archivos del zip en nuestro espacio local:
datos_zip.extractall("./")

# Definir el lugar donde guardamos los archivos:
datos_dir = './Datos_de_calidad_del_agua_2020'

# Definir archivos a utilizar
datos_file = '/Datos_de_calidad_del_agua_de_sitios_de_monitoreo_de_aguas_subterraneas_2020.csv'

# Impotar los datos:
df = pd.read_csv(datos_dir + datos_file, encoding = "cp1252")

# Confirmemos que tenemos el dataset:
print(f'\n Dataframe con {df.shape} dimensiones')

Ahora, antes de comenzar a revisar los datos, recurramos a un poco de magía en el servidor de origen para llamar también al diccionario correspondiente a estos datos, ésto nos ayudará a dar mejores conclusiones en nuetro análisis exploratirio – Después de todo, ¿No es acaso descubrir lo creado hacer ciencia? Y esto es ciencia de datos, así que usemos lo disponible.

In [ ]:
############################################################################################
# Llamar al diccionario de datos:
############################################################################################

# Definir la url de donde obtener los datos:
diccionario_url = 'http://201.116.60.46/Diccionario_Datos_de_calidad_del_agua_de_5000_sitios_de_monitoreo.zip'

# Obtener la respuesta:
diccionario_response = requests.get(diccionario_url, stream=True)

# Tomar respuesta como zip en cache:
diccionario_zip = zipfile.ZipFile(io.BytesIO(diccionario_response.content))

# Extraer todos los archivos del zip en nuestro espacio local:
diccionario_zip.extractall("./")

# Definir el lugar donde guardamos los archivos:
diccionario_dir = './Diccionario_Datos_de_calidad_del_agua_de_5000_sitios_de_monitoreo'

# Definir archivos a utilizar
diccionario_file = '/Diccionario_datos_Subterraneal.csv'

# Impotar los datos:
diccionario = pd.read_csv(diccionario_dir + diccionario_file, encoding = "UTF-8")

In [ ]:
# Filtremos al diccionario por aquellas varialbes que nos explicará:
diccionario_boooleano = diccionario['CAMPO'].isin(list(df.columns))
diccionario = diccionario[diccionario_boooleano]

# Veamos el diccionario:
display(diccionario.head())
print(diccionario.shape)

,CAMPO,DESCRIPCION,TIPO,VALOR_POSIBLE
0,CLAVE,Clave del sitio de monitoreo,Texto,A - Z
1,SITIO,Nombre del sitio de muestreo,Texto,A - Z
9,ACUIFERO,Acu­fero donde se encuentra el sitio de muestreo,Texto,A - Z
10,SUBTIPO,Subtipo de cuerpo de agua donde se encuentra e...,Texto,A - Z
11,LONGITUD,Coordenada de longitud,Numerico,6 decimales

(54, 4)

Excelente, este diccionario y un poco de técnicas exploratorias nos permitirá explicar a mayor detalle los datos que usaremos en esta entrega.

# EDA - Primeros pasos

Como ya hemos definido, el color de semaforo en las aguas será nuestra variable objetivo, lo que convierte a las demás en nuestros *features*. Esto nos permite hacer una separación en una matriz X y un vector y basado en nuestros datos. Sería además conveniente, que realicemos una separación de estos valores en conjuntos de entrenamiento y de prueba, tanto para crear un modelo más robusto en terminos de generalización, como para crear *pipelines* que nos eviten caer en problemas de *data leak* si este modelo llega a estar en producción.

In [ ]:
############################################################################################
# Datos de entrenamiento y prueba:
############################################################################################

# Conjunto con features
X = df.drop('SEMAFORO', axis=1)

# Variable objetivo
y = df[['SEMAFORO']]

# Partir los datos en conjuntos de entrenamiento y prueba:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.15, random_state = 42)

print(f"""
Tamaño de variables de entrenamiento: {X_train.shape} || tamaño de objetivo entrenamiento: {y_train.shape}
Tamaño de variables de prueba: {X_test.shape} || tamaño de objetivo prueba: {y_test.shape}
""")

Tamaño de variables de entrenamiento: (907, 56) || tamaño de objetivo entrenamiento: (907, 1)
Tamaño de variables de prueba: (161, 56) || tamaño de objetivo prueba: (161, 1)

Comencemos por ver los datos:

In [ ]:
# Vista inicial de los datos:
X_train.head()

,CLAVE,SITIO,ORGANISMO_DE_CUENCA,ESTADO,MUNICIPIO,ACUIFERO,SUBTIPO,LONGITUD,LATITUD,PERIODO,...,CUMPLE_CON_DUR,CUMPLE_CON_CF,CUMPLE_CON_NO3,CUMPLE_CON_AS,CUMPLE_CON_CD,CUMPLE_CON_CR,CUMPLE_CON_HG,CUMPLE_CON_PB,CUMPLE_CON_MN,CUMPLE_CON_FE
318,DLGUA1194,VALLE DE LA CUEVITA 1,LERMA SANTIAGO PACIFICO,GUANAJUATO,JERECUARO,VALLE DE LA CUEVITA,POZO,-100.611400,20.301370,2020,...,SI,SI,SI,SI,SI,SI,SI,SI,SI,SI
208,DLDUR690,POZO YERBANIS,CUENCAS CENTRALES DEL NORTE,DURANGO,PEÑON BLANCO,PEÑON BLANCO,POZO,-103.880030,24.678480,2020,...,SI,SI,SI,NO,SI,SI,SI,SI,SI,SI
243,DLDUR766,POZO LA LOMA,CUENCAS CENTRALES DEL NORTE,DURANGO,SAN JUAN DEL RIO,SAN JUAN DEL RIO,POZO,-104.455020,24.786160,2020,...,SI,SI,SI,SI,SI,SI,SI,SI,SI,SI
901,OCPBC4331,POZO VG-2 (CNA-04A-001),PENINSULA DE BAJA CALIFORNIA,BAJA CALIFORNIA,ENSENADA,COLONIA VICENTE GUERRERO,POZO,-115.956988,30.755786,2020,...,SI,SI,SI,SI,SI,SI,SI,SI,SI,SI
874,OCNOR4228,CAMPO CORPUS,NOROESTE,SONORA,HERMOSILLO,COSTA DE HERMOSILLO,POZO,-111.645520,28.866650,2020,...,SI,SI,SI,SI,SI,SI,SI,SI,SI,SI

Utilicemos el método info también para ver los tipos de datos y si estos contienen o no valores estrictamente nulos:

In [ ]:
# Tipo de dato y valroes en las variables:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 907 entries, 318 to 860
Data columns (total 56 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   CLAVE                 907 non-null    object
 1   SITIO                 907 non-null    object
 2   ORGANISMO_DE_CUENCA   907 non-null    object
 3   ESTADO                907 non-null    object
 4   MUNICIPIO             907 non-null    object
 5   ACUIFERO              907 non-null    object
 6   SUBTIPO               907 non-null    object
 7   LONGITUD              907 non-null    float64
 8   LATITUD               907 non-null    float64
 9   PERIODO               907 non-null    int64
 10  ALC_mg/L              903 non-null    float64
 11  CALIDAD_ALC           903 non-null    object
 12  CONDUCT_mS/cm         902 non-null    float64
 13  CALIDAD_CONDUC        902 non-null    object
 14  SDT_mg/L              0 non-null      float64
 15  SDT_M_mg/L            906 non-null    object
 16  CALIDAD_SDT_ra        906 non-null    object
 17  CALIDAD_SDT_salin     906 non-null    object
 18  FLUORUROS_mg/L        907 non-null    object
 19  CALIDAD_FLUO          907 non-null    object
 20  DUR_mg/L              906 non-null    object
 21  CALIDAD_DUR           906 non-null    object
 22  COLI_FEC_NMP/100_mL   907 non-null    object
 23  CALIDAD_COLI_FEC      907 non-null    object
 24  N_NO3_mg/L            906 non-null    object
 25  CALIDAD_N_NO3         906 non-null    object
 26  AS_TOT_mg/L           907 non-null    object
 27  CALIDAD_AS            907 non-null    object
 28  CD_TOT_mg/L           907 non-null    object
 29  CALIDAD_CD            907 non-null    object
 30  CR_TOT_mg/L           907 non-null    object
 31  CALIDAD_CR            907 non-null    object
 32  HG_TOT_mg/L           907 non-null    object
 33  CALIDAD_HG            907 non-null    object
 34  PB_TOT_mg/L           907 non-null    object
 35  CALIDAD_PB            907 non-null    object
 36  MN_TOT_mg/L           907 non-null    object
 37  CALIDAD_MN            907 non-null    object
 38  FE_TOT_mg/L           907 non-null    object
 39  CALIDAD_FE            907 non-null    object
 40  CONTAMINANTES         545 non-null    object
 41  CUMPLE_CON_ALC        907 non-null    object
 42  CUMPLE_CON_COND       907 non-null    object
 43  CUMPLE_CON_SDT_ra     907 non-null    object
 44  CUMPLE_CON_SDT_salin  907 non-null    object
 45  CUMPLE_CON_FLUO       907 non-null    object
 46  CUMPLE_CON_DUR        907 non-null    object
 47  CUMPLE_CON_CF         907 non-null    object
 48  CUMPLE_CON_NO3        907 non-null    object
 49  CUMPLE_CON_AS         907 non-null    object
 50  CUMPLE_CON_CD         907 non-null    object
 51  CUMPLE_CON_CR         907 non-null    object
 52  CUMPLE_CON_HG         907 non-null    object
 53  CUMPLE_CON_PB         907 non-null    object
 54  CUMPLE_CON_MN         907 non-null    object
 55  CUMPLE_CON_FE         907 non-null    object
dtypes: float64(5), int64(1), object(50)
memory usage: 403.9+ KB

Acorde a esto, tenemos 5 variables númericas, una de enteros y 50 como texto. Además encontramos que varias de estas contienen nulos ya que no se cumplen los 907 valores para muchos de estas. Sin embargo, para estar seguros, hagamos una validación cruzada contra nuestro diccionario. Primero veamos nuestro diccionario:

In [ ]:
# Valores acorde al diccionario:
diccionario.head(10)

,CAMPO,DESCRIPCION,TIPO,VALOR_POSIBLE
0,CLAVE,Clave del sitio de monitoreo,Texto,A - Z
1,SITIO,Nombre del sitio de muestreo,Texto,A - Z
9,ACUIFERO,Acu­fero donde se encuentra el sitio de muestreo,Texto,A - Z
10,SUBTIPO,Subtipo de cuerpo de agua donde se encuentra e...,Texto,A - Z
11,LONGITUD,Coordenada de longitud,Numerico,6 decimales
12,LATITUD,Coordenada de latitud,Numerico,6 decimales
13,PERIODO,A¤o o periodo en que se realizo el muestreo,Texto,actual
14,ALC_mg/L,"Valor de Alcalinidad Total, en miligramos por ...",Texto,"1 decimal, ND"
15,AS_TOT_mg/L,"Valor de Arsenico Total, en miligramos por litro",Texto,"3 decimales, ND"
16,CD_TOT_mg/L,"Valor de Cadmio Total, en miligramos por litro",Texto,"3 decimales, ND"

Ahora utilicemos el método describe para ver las variables que nuestro dataset clásifico como numéricas:

In [ ]:
df.describe()

          LONGITUD      LATITUD  PERIODO     ALC_mg/L  CONDUCT_mS/cm  SDT_mg/L
count  1068.000000  1068.000000   1068.0  1064.000000    1062.000000       0.0
mean   -101.891007    23.163618   2020.0   235.633759    1138.953013       NaN
std       6.703263     3.887670      0.0   116.874291    1245.563674       NaN
min    -116.664250    14.561150   2020.0    26.640000      50.400000       NaN
25%    -105.388865    20.212055   2020.0   164.000000     501.750000       NaN
50%    -102.174180    22.617190   2020.0   215.527500     815.000000       NaN
75%     -98.974716    25.510285   2020.0   292.710000    1322.750000       NaN
max     -86.864120    32.677713   2020.0  1650.000000   18577.000000       NaN

Bastantes cosas que rescatar de aquí:
* Vemos nuevamente la presencia de nulos
* SDT_mg_L parece que realmente no tiene valores de utilidad
* PERIODO con una desviación de 0 y su resumen de 5 numeros con el mismo valor parece sugerir que no es más que el año, no una variable per-se.
* Además variables que podíamos suponer iban a ser numéricas por su descripción de diccionario no lo son, como el caso de AS_TOT_mg/L.

Estas observaciones hacen más necesario nuestro análisis exploratorio, al parecer hay variables que no necesitamos y otras que podríamos transformar para generar un análisis más robusto y un pipeline para alimentar modelos de aprendizaje automático.

Para lograr esto, creemos primero una función que nos ayude a analizar cada columna. La idea es sencilla, generemos una función que revise la variable y nos devuevla valores únicos y relación contra el semaforo para variables categóricas, boxplots e histograma para variables numéricas y valores promedio contra la varialbe objetivo. Utilizaremos esta función en conjunto al diccionario para obtener estadísticos y visualizaciones que nos permita generar conclusiones sobre los datos. Estas conclusiones, a su vez, nos ayudarán a proponer un pipeline para el tratamiento de datos (nulos y transformaciones) para que se puedan aplicar modelos de aprendizaje automático en una entrega posterior.

``` markdown
Objetivo: Generar una función que nos permita analizar columnas del datast.

      ┌───────────────┐ ┌──────────────────────┐ ┌───────────┐
      │     input     │ │        función       │ │   Output  │
      │               │ │                      │ │           │
      │  columna(str) ├─►  analizar_variable() ├─►    EDA    │
      │               │ │                      │ │           │
      └───────────────┘ └──────────────────────┘ └───────────┘
```

In [121]:
############################################################################################
# Función para analizar variables:
############################################################################################

print(tabulate(
    pd.DataFrame(X_train['ACUIFERO'].value_counts(dropna=False).sort_index()),
    headers = 'keys',
    tablefmt = 'psql')
)

+----------------------------------------+------------+
|                                        |   ACUIFERO |
|----------------------------------------+------------|
| ABREGO                                 |          2 |
| ACTOPAN - SANTIAGO DE ANAYA            |          3 |
| AGUANAVAL                              |          3 |
| AJACUBA                                |          1 |
| ALTO ATOYAC                            |         17 |
| ALTOS DE JALISCO                       |          4 |
| ALZADA-TEPAMES                         |          5 |
| AMAJAC                                 |          2 |
| AREA METROPOLITANA DE MONTERREY        |          2 |
| ARMERIA-TECOMAN-PERIQUILLOS            |          4 |
| ATLIXCO-IZUCAR DE MATAMOROS            |          4 |
| BAJA BABICORA                          |          1 |
| BENITO JUAREZ                          |          3 |
| BUENAVENTURA                           |          1 |
| BUENOS AIRES                           |          1 |
| BUSANI                                 |          2 |
| CABO SAN LUCAS                         |          2 |
| CABORCA                                |          4 |
| CABRERA                                |          1 |
| CABRERA-OCAMPO                         |          1 |
| CAJITITLAN                             |          3 |
| CALERA                                 |          6 |
| CAMACHO                                |          2 |
| CAMALU                                 |          2 |
| CAMPO CERRITOS                         |          1 |
| CAMPO MINA                             |          1 |
| CASAS GRANDES                          |          1 |
| CAÑON DEL DERRAMADERO                  |          2 |
| CEBALLOS                               |          3 |
| CEDRAL-MATEHUALA                       |          2 |
| CEDROS                                 |          2 |
| CENTLA                                 |          4 |
| CERROS Y VALLES                        |          1 |
| CHACAHUA                               |          1 |
| CHALCO-AMECAMECA                       |          2 |
| CHAPALA                                |          3 |
| CHAPANTONGO-ALFAJAYUCAN                |          2 |
| CHUPADEROS                             |          5 |
| CIENEGA PRIETA-MOROLEON                |          3 |
| CITRICOLA NORTE                        |          5 |
| CITRICOLA SUR                          |          2 |
| CIUDAD HIDALGO-TUXPAN                  |          3 |
| COCORAQUE                              |          2 |
| COLIMA                                 |          2 |
| COLONIA VICENTE GUERRERO               |          2 |
| COMITAN                                |          3 |
| COSTA DE HERMOSILLO                    |          8 |
| COSTERA DE COATZACOALCOS               |          3 |
| COSTERA DE VERACRUZ                    |          2 |
| COTAXTLA                               |          1 |
| COTIJA                                 |          1 |
| CUATROCIENEGAS                         |          1 |
| CUAUHTEMOC                             |          5 |
| CUAUTITLAN-PACHUCA                     |          5 |
| CUAUTLA-YAUTEPEC                       |          6 |
| CUCHUJAQUI                             |          2 |
| CUENCA ALTA DEL RIO LAJA               |          2 |
| CUENCA RIO PAPALOAPAN                  |          1 |
| CUERNAVACA                             |          4 |
| CUITACA                                |          2 |
| CUMPAS                                 |          2 |
| DR. MORA-SAN JOSE DE ITURBIDE          |          1 |
| EL BARRIL                              |          2 |
| EL CARDITO                             |          2 |
| EL CARRIZAL                            |          3 |
| EL COLOMO                              |          4 |
| EL HUNDIDO                             |          2 |
| EL LLANO                               |          2 |
| EL PALMAR                              |          4 |
| EL SALVADOR                            |          2 |
| EL SAUZ-ENCINILLAS                     |          2 |
| ENSENADA                               |          2 |
| ESCALON                                |          1 |
| FLORES MAGON-VILLA AHUMADA             |          1 |
| FRAYLESCA                              |          1 |
| FUERTE-MAYO                            |          3 |
| GENERAL CEPEDA-SAUCEDA                 |          9 |
| GUADALUPE                              |          2 |
| GUADALUPE BAÑUELOS                     |          3 |
| GUADALUPE DE LAS CORRIENTES            |          3 |
| GUADALUPE GARZARON                     |          1 |
| HUAJUAPAN DE LEON                      |          2 |
| HUAMANTLA                              |          4 |
| HUICHAPAN-TECOZAUTLA                   |          1 |
| HUIMANGUILLO                           |          1 |
| IRAPUATO-VALLE                         |          1 |
| ISLA DE COZUMEL                        |          5 |
| IXCAQUIXTLA                            |          2 |
| IXMIQUILPAN                            |          5 |
| IXTAPA                                 |          1 |
| IXTLAHUACA-ATLACOMULCO                 |          5 |
| JALPA-JUCHIPILA                        |          4 |
| JARAL DE BERRIOS-VILLA DE REYES        |          5 |
| JEREZ                                  |          2 |
| JIMENEZ-CAMARGO                        |          1 |
| LA BARCA                               |          2 |
| LA BLANCA                              |          3 |
| LA CHONTALPA                           |          3 |
| LA MURALLA                             |          1 |
| LA PAILA                               |         12 |
| LA PAZ                                 |         10 |
| LA PIEDAD                              |          1 |
| LA SABANA                              |          3 |
| LA SIERRA                              |          1 |
| LA TINAJA                              |          2 |
| LA TRINITARIA                          |          2 |
| LA ZARCA-REVOLUCION                    |          1 |
| LAGO DE CUITZEO                        |          2 |
| LAGUNA DE PALOMAS                      |          1 |
| LAGUNA DEL REY-SIERRA MOJADA           |          2 |
| LAGUNA SECA                            |          1 |
| LAGUNILLAS PATZCUARO                   |          2 |
| LAS DELICIAS                           |          1 |
| LIBRES-ORIENTAL                        |          2 |
| LLERA-XICOTENCATL                      |          5 |
| LORETO                                 |          2 |
| LOS JUNCOS                             |          1 |
| LOS NARANJOS                           |          2 |
| LOS PLANES                             |          8 |
| MADERO-VICTORIA                        |          2 |
| MAGDALENA                              |          1 |
| MANEADERO                              |          2 |
| MARABASCO                              |          2 |
| MARAVATIO-CONTEPEC-E. HUERTA           |          3 |
| MARGENES DEL RIO PURIFICACION          |          4 |
| MARISCALA                              |          2 |
| MATALOTES-EL ORO                       |          7 |
| MATEHUALA-HUIZACHE                     |          3 |
| MENDEZ-SAN FERNANDO                    |          1 |
| MEOQUI-DELICIAS                        |          9 |
| MESA DEL SERI-LA VICTORIA              |          5 |
| MEZTITLAN                              |          1 |
| MORELIA-QUERENDARO                     |          7 |
| MULEGE                                 |          1 |
| NAVIDAD-POTOSI-RAICES                  |          2 |
| NAZAS                                  |          6 |
| NOCHISTLAN                             |          2 |
| NOCHIXTLAN                             |          1 |
| NOGALES                                |          2 |
| OCAMPO-ANTIGUO MORELOS                 |          1 |
| OCOTLAN                                |          4 |
| OJOCALIENTE                            |          4 |
| OJOS NEGROS                            |          2 |
| ORIENTE AGUANAVAL                      |          3 |
| ORIZABA-CORDOBA                        |          2 |
| OSTULA                                 |          1 |
| PALOMAS-GUADALUPE VICTORIA             |          3 |
| PAREDON                                |          1 |
| PASTOR ORTIZ-LA PIEDAD                 |          4 |
| PEDRICEÑA-VELARDEÑA                    |          6 |
| PENINSULA DE YUCATAN                   |         90 |
| PENJAMO-ABASOLO                        |          3 |
| PEROTE-ZALAYETA                        |          2 |
| PEÑON BLANCO                           |          6 |
| PINOS                                  |          4 |
| PRINCIPAL-REGION LAGUNERA              |         23 |
| PUERTO MADERO                          |          2 |
| PUERTO VALLARTA                        |          2 |
| REFORMA                                |          2 |
| REVOLUCION                             |          1 |
| RIO AGUA PRIETA                        |          1 |
| RIO ALISOS                             |          1 |
| RIO ALTAR                              |          2 |
| RIO BACANUCHI                          |          1 |
| RIO BACOACHI                           |          2 |
| RIO CULIACAN                           |          6 |
| RIO ELOTA                              |          3 |
| RIO FUERTE                             |          2 |
| RIO MOCORITO                           |          7 |
| RIO MOCTEZUMA                          |          2 |
| RIO PIAXTLA                            |          3 |
| RIO PRESIDIO                           |          4 |
| RIO SAN LORENZO                        |          3 |
| RIO SAN MIGUEL                         |          2 |
| RIO SANTA CRUZ                         |          1 |
| RIO SINALOA                            |          3 |
| RIO SONORA                             |          6 |
| RIO TURBIO                             |          1 |
| RIO VERDE                              |          6 |
| RIO VERDE-EJUTLA                       |          1 |
| RIO ZANJON                             |          2 |
| ROSARIO-TESOPACO-EL QUIRIEGO           |          1 |
| SAHUARAL                               |          2 |
| SAIN ALTO                              |          3 |
| SALTILLO-RAMOS ARIZPE                  |          7 |
| SALVATIERRA-ACAMBARO                   |          2 |
| SAMARIA-CUNDUACAN                      |          3 |
| SAN BERNARDO                           |          1 |
| SAN FELIPE-PUNTA ESTRELLA              |          5 |
| SAN FERMIN                             |          2 |
| SAN IGNACIO                            |          1 |
| SAN JOSE DE GUAYMAS                    |          2 |
| SAN JOSE DEL CABO                      |          2 |
| SAN JUAN B. LONDO                      |          3 |
| SAN JUAN DEL RIO                       |          8 |
| SAN LUIS POTOSI                        |          7 |
| SAN QUINTIN                            |          2 |
| SAN RAFAEL                             |          3 |
| SAN SIMON                              |          1 |
| SAN TELMO                              |          2 |
| SANTA CLARA                            |          4 |
| SANTA MARIA DEL RIO                    |          5 |
| SANTIAGO-SALAGUA                       |          1 |
| SANTO DOMINGO                          |          3 |
| SOCONUSCO                              |          7 |
| SONOYTA-PUERTO PEÑASCO                 |          9 |
| TAMAZULAPAN                            |          2 |
| TAPALPA                                |          1 |
| TENANCINGO                             |          1 |
| TEPATITLAN                             |          3 |
| TEPEHUANES-SANTIAGO                    |         14 |
| TEPEJI DEL RIO                         |          1 |
| TEXCOCO                                |          2 |
| TLAPA-HUAMUXTITLAN                     |          1 |
| TODOS SANTOS                           |          3 |
| TOLIMAN                                |          1 |
| TOLUQUILLA                             |          9 |
| TULA-BUSTAMANTE                        |          1 |
| TUXTLA                                 |          3 |
| VALLE ACAPONETA-CAÑAS                  |          3 |
| VALLE DE ACAMBARO                      |          2 |
| VALLE DE ACTOPAN                       |          1 |
| VALLE DE AGUASCALIENTES                |          3 |
| VALLE DE CALVILLO                      |          2 |
| VALLE DE CANATLAN                      |          6 |
| VALLE DE CELAYA                        |          7 |
| VALLE DE CHICALOTE                     |          4 |
| VALLE DE GUAYMAS                       |          3 |
| VALLE DE IXTLAHUACAN                   |          1 |
| VALLE DE JUAREZ                        |          2 |
| VALLE DE LA CUEVITA                    |          2 |
| VALLE DE LEON                          |          3 |
| VALLE DE MATATIPAC                     |          1 |
| VALLE DE MEXICALI                      |          3 |
| VALLE DE PUEBLA                        |          4 |
| VALLE DE SAN JUAN DEL RIO              |          4 |
| VALLE DE SAN LUIS RIO COLORADO         |          7 |
| VALLE DE SANTA MARIA DEL ORO           |          2 |
| VALLE DE SANTIAGUILLO                  |          4 |
| VALLE DE TECAMACHALCO                  |          3 |
| VALLE DE TEHUACAN                      |          4 |
| VALLE DE TEQUISQUIAPAN                 |          1 |
| VALLE DE TOLUCA                        |          6 |
| VALLE DE TULANCINGO                    |          1 |
| VALLE DEL GUADIANA                     |          5 |
| VALLE DEL MAYO                         |          3 |
| VALLE DEL MEZQUITAL                    |          9 |
| VALLE DEL YAQUI                        |          5 |
| VALLE SANTIAGO-SAN BLAS                |          1 |
| VALLES CENTRALES                       |          5 |
| VANEGAS-CATORCE                        |          4 |
| VENADERO                               |          1 |
| VENUSTIANO CARRANZA                    |          2 |
| VICENTE GUERRERO-POANAS                |          6 |
| VICENTE SUAREZ                         |          1 |
| VICTORIA-CASAS                         |          1 |
| VICTORIA-GUEMEZ                        |          7 |
| VILLA DE ARISTA                        |          5 |
| VILLA HIDALGO                          |          4 |
| VILLA JUAREZ                           |          4 |
| VILLANUEVA                             |          1 |
| VIZCAINO                               |          6 |
| ZACAPU                                 |          4 |
| ZACATEPEC                              |          2 |
| ZAMORA                                 |          1 |
| ZIMAPAN                                |          1 |
| ZONA METROPOLITANA DE LA CD. DE MEXICO |          2 |
+----------------------------------------+------------+

# EDA y transformaciones (por variable)

# Pipeline para ML

# Conclusiones