<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-del-projecto-equipo-41/blob/main/Semana3_actividad1_Equipo41.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

---

<br>
<p align=center>Instituto Tecnológico y de Estudios Superiores de Monterrey</p>
<p align=center>Escuela de Ingeniería y Ciencias</p>
<p align=center>
<br>
<img src="https://github.com/PosgradoMNA/actividades-del-projecto-equipo-41/blob/main/tec.png?raw=true" alt="Logo" width="250"/>
</p>
<br>
<p align=center>Maestría en Inteligencia Artificial Aplicada (MNA)</p>
<p align=center>TC4029. Ciencia y Analítica de Datos</p>
<p align=center> Profesor Titular: Jobish Vallikavungal Devassia </p>
<br>
<p align=center>Presentan:</p>
<p align=center>A01150742 | José Ovalle Alvarado</p>
<p align=center>A01793023 | Arroyo Chavelas Jorge Luis</p>
<p align=center>04 de Octubre de 2022</p>
<br>

---

# **Parte 1: Fundamentos de bases de datos**

Revisa la página Lecturas del tema 3: Conceptos de almacenamiento y recuperación de información, y describe tus insights o entendimiento de cada uno de los subtemas: (Alrededor de 200 palabras)

1.   Fundamentos de bases de datos y para ciencia de datos.
2.   Fundamentos de almacenes de datos (Data Warehouse) para ciencia de datos.

**Sobre fundamentos de bases de datos para ciencie de datos**

> Una base de datos es un repositorio de datos estructurados (SQL) o semiestrucurados (NOSQL); los primeros mantienen de forma organizada y estructurada los datos (Teate, 2021), que permiten "consultas" de datos para su uso posterior mediante relaciones. El otro tipo aunque también permite hacer consultas, no cuenta con relaciones sino con categorias (Metwalli, 2020).
>
> Ejemplos de datos almacenados en el aspecto comercial, pueden ser personal, clientes, proveedores y productos. Aunque una base de datos también permite tener acceso a datos estadísticos que ayudan en proceso de investigación (Amazon, s.f.). Las bases de datos de forma general, ofrece a las organizaciones un orden de su información para que esta puede ser consultada de forma eficiente.
>
> La terminología más común de la base de datos son los registros, datos, filas y columnas (Teate, 2021). Un registro es una operación "transaccional" que se registra en en una fila y esta fila está compuesta por diversas columna las cuales ofrecen información específica sobre ese registro. Una columna puede por ejemplo almacenar el "nombre" de un cliente, mientras que otra columna almacena la "dirección fiscal" de un cliente. La ciencia de datos hace uso de los fundamentos de las bases de datos y realiza análisis de datos medianta un lenguaje de maniuplación de datos también llamado DML y que utiliza un lenguaje de programación tipo scripting llamadao SQL o Structured Query Language. Es a través de este último que los científicos de datos organizan la información de forma estructurada para facilitar su uso posterior.

**Sobre Fundamentos de almacenes de datos (Data Warehouse)s para ciencia de datos**

> Un almacen de datos o "Data Warehouse" es un repositorio de datos que se obtiene a partir de la base principal de datos de un sistema (Metwalli, 2020). Las bases principales se afectan por transacciones diarias y en algunos casos permiten ejecutar reportes personalizados, sin embargo un "Data Warehouse" es una base de datos "espejo" de la base principal de datos que permite realizar consultas y crear tablas personalizadas para un uso más flexible de los datos y que un ERP por sí mismo no proporciona (Oracle, s.f.). Los almacenes de datos se componen principalmente de tablas llamadas "dimensiones" y tablas denominadas "fact". En conjunto las transacciones se analizan a través de las dimensiones o catálogos para ofrecer un análisis más especializado y un uso más flexible de la información.

# **Parte 2: Selección y limpieza de los Datos en Python**

El primer paso consiste en importar las librerias requeridas para la lectura de archivo:

In [ ]:
# Import libraries

import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline

En esta parte se ejecuta la lectura de la dirección proporcionada para el conjunto de datos:

In [ ]:
# Uploading dataset

mypath = "https://raw.githubusercontent.com/PosgradoMNA/Actividades_Aprendizaje-/main/default%20of%20credit%20card%20clients.csv" # saving the path from web and then you can input the data into python

data = pd.read_csv(mypath, sep=",")

Para tener una mejor interpretación de los datos se documentaron las descripciones de las variables (Yeh & Lien, 2009):

**Attribute Information**:
>
>| Variable | Description |
| --- | --- |
|X1| Amount of the given credit (NT dollar)\: it includes both the individual consumer credit and his/her family (supplementary) credit. |
|X2| Gender\: 1 = male; 2 = female |
|X3| Educatio\: 1 = graduate school; 2 = university; 3 = high school; 4 = others|
|X4| Marital status\: 1 = married; 2 = single; 3 = others |
|X5| Age\: integer number |
|X6| Repayment Status in September, 2005|
|X7| Repayment Status in August, 2005|
|X8| Repayment Status in July, 2005|
|X9| Repayment Status in June, 2005|
|X10| Repayment Status in May, 2005|
|X11| Repayment Status in April, 2005|
|X12| Amount of bill statement in September, 2005 |
|X13| Amount of bill statement in August, 2005 |
|X14| Amount of bill statement in July, 2005 |
|X15| Amount of bill statement in June, 2005 |
|X16| Amount of bill statement in May, 2005 |
|X17| Amount of bill statement in April, 2005 |
|X18| Amount paid in September, 2005|
|X19| Amount paid in Augsut, 2005|
|X20| Amount paid in July, 2005|
|X21| Amount paid in June, 2005|
|X22| Amount paid in May, 2005|
|X23| Amount paid in April, 2005|
|Y| Default probability|
>
> The measurement scale for the repayment status is:
>
>|Value|Description|
|---|---|
|-1|pay duly|
|2|payment delay for one month|
|3|payment delay for two months|
|...|...|
|8|payment delay for eight months|
|9|payment delay for nine months and above|

En el la siguiente parte del código se puede observar que las descripciones no descriptivas y sólo se identifican con prefijos de X1 a Xn

In [ ]:
# data example

data.head()

,ID,X1,X2,X3,X4,X5,X6,X7,X8,X9,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
0,1,20000,2.0,2.0,1.0,24.0,2.0,2.0,-1.0,-1.0,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1.0
1,2,120000,2.0,2.0,2.0,26.0,-1.0,2.0,0.0,0.0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1.0
2,3,90000,2.0,2.0,2.0,34.0,0.0,0.0,0.0,0.0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0.0
3,4,50000,2.0,2.0,1.0,37.0,0.0,0.0,0.0,0.0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0.0
4,5,50000,1.0,2.0,1.0,57.0,-1.0,0.0,-1.0,0.0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0.0

En esta parte del código se generan las traducciones de X a descripciones más adecuadas y entendibles:

In [ ]:
# changing variable names in headers

headers = {
  "ID": "ID"   
  ,"X1": "credit_amt"    
  ,"X2": "gender"
  ,"X3": "education"
  ,"X4": "marital_status"
  ,"X5": "age"
  ,"X6": "pay_stat_sep"
  ,"X7": "pay_stat_aug"
  ,"X8": "pay_stat_jul"
  ,"X9": "pay_stat_jun"
  ,"X10": "pay_stat_may"
  ,"X11": "pay_stat_apr"
  ,"X12": "bill_amt_sep"
  ,"X13": "bill_amt_aug"
  ,"X14": "bill_amt_jul"
  ,"X15": "bill_amt_jun"
  ,"X16": "bill_amt_may"
  ,"X17": "bill_amt_apr"
  ,"X18": "pay_amt_sep"
  ,"X19": "pay_amt_aug"
  ,"X20": "pay_amt_jul"
  ,"X21": "pay_amt_jun"
  ,"X22": "pay_amt_may"
  ,"X23": "pay_amt_apr"
  ,"Y"  : "proba_def"
}

df = data.rename(columns=headers)

Los datos ahora muestran descripciones adecuadadas para la descripción de los valores:

In [ ]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
ID,30000.0,15000.500000,8660.398374,1.0,7500.75,15000.5,22500.25,30000.0
credit_amt,30000.0,167484.322667,129747.661567,10000.0,50000.00,140000.0,240000.00,1000000.0
gender,29999.0,1.603753,0.489125,1.0,1.00,2.0,2.00,2.0
education,29998.0,1.853057,0.790320,0.0,1.00,2.0,2.00,6.0
marital_status,29998.0,1.551903,0.521968,0.0,1.00,2.0,2.00,3.0
age,29995.0,35.484214,9.218024,21.0,28.00,34.0,41.00,79.0
pay_stat_sep,29997.0,-0.016635,1.123829,-2.0,-1.00,0.0,0.00,8.0
pay_stat_aug,29995.0,-0.133689,1.197254,-2.0,-1.00,0.0,0.00,8.0
pay_stat_jul,29993.0,-0.166405,1.196048,-2.0,-1.00,0.0,0.00,8.0
pay_stat_jun,29991.0,-0.220800,1.169153,-2.0,-1.00,0.0,0.00,8.0
pay_stat_may,29984.0,-0.266342,1.133296,-2.0,-1.00,0.0,0.00,8.0
pay_stat_apr,29986.0,-0.291136,1.150134,-2.0,-1.00,0.0,0.00,8.0
bill_amt_sep,29989.0,51236.862750,73645.219278,-165580.0,3565.00,22387.0,67139.00,964511.0
bill_amt_aug,29989.0,49190.734669,71183.385123,-69777.0,2986.00,21207.0,64027.00,983931.0
bill_amt_jul,29987.0,47025.350152,69360.863317,-157264.0,2667.50,20089.0,60182.00,1664089.0
bill_amt_jun,29985.0,43275.652326,64345.500073,-170000.0,2329.00,19052.0,54560.00,891586.0
bill_amt_may,29983.0,40324.493980,60809.984983,-81334.0,1763.50,18107.0,50213.00,927171.0
bill_amt_apr,29990.0,38881.135745,59561.312967,-339603.0,1256.25,17081.0,49208.25,961664.0
pay_amt_sep,29992.0,5662.945886,16564.165089,0.0,1000.00,2100.0,5006.00,873552.0
pay_amt_aug,29991.0,5922.488913,23044.177075,0.0,835.50,2009.0,5000.00,1684259.0
pay_amt_jul,29992.0,5225.623400,17608.422625,0.0,390.00,1800.0,4505.50,896040.0
pay_amt_jun,29989.0,4827.252526,15668.751975,0.0,296.00,1500.0,4014.00,621000.0
pay_amt_may,29989.0,4800.297209,15280.842069,0.0,251.00,1500.0,4033.00,426529.0
pay_amt_apr,29995.0,5216.259977,17778.848359,0.0,118.00,1500.0,4000.00,528666.0
proba_def,29997.0,0.221189,0.415054,0.0,0.00,0.0,0.00,1.0

En la siguiente parte / partes del código se muestra que "SÍ" existen valores perdidos o nulos, y que la mayoría de las variables a excepción del "credit_amt" contienen registros nulos.

In [ ]:
# validación de valores perdidos

df.isnull().values.any()

# Sí existen valores perdidos

True

In [ ]:
# quiebre de datos perdidos

pd.DataFrame(df.isnull().any())

                    0
ID              False
credit_amt      False
gender           True
education        True
marital_status   True
age              True
pay_stat_sep     True
pay_stat_aug     True
pay_stat_jul     True
pay_stat_jun     True
pay_stat_may     True
pay_stat_apr     True
bill_amt_sep     True
bill_amt_aug     True
bill_amt_jul     True
bill_amt_jun     True
bill_amt_may     True
bill_amt_apr     True
pay_amt_sep      True
pay_amt_aug      True
pay_amt_jul      True
pay_amt_jun      True
pay_amt_may      True
pay_amt_apr      True
proba_def        True

Esta parte del código genera la lista de las variables que tienen cuando menos un valor perdido

In [ ]:
# Existen datos perdidos en todas las variables a excepción de la variable credito

missing_values = pd.DataFrame(df.isnull().any()) 

missing_values = missing_values.reset_index()

missing_values = missing_values.rename(columns={"index":"feature",0:"missing_values"})

missing_values[missing_values["missing_values"] == True]

features_list = list(missing_values["feature"][missing_values["missing_values"] == True])

Después de generar la lista de variables de registros nulos, se imprimen la cantidad de registros perdidos que existen por columna

In [ ]:
# missing values per feature

feat = []
miss = []
for feature in features_list:
  print(f'{feature} feature has {str(df[feature].isnull().sum())} missing_value(s) out of {str(len(df))} values\n')
  feat.append(feature)
  miss.append(df[feature].isnull().sum())

gender feature has 1 missing_value(s) out of 30000 values

education feature has 2 missing_value(s) out of 30000 values

marital_status feature has 2 missing_value(s) out of 30000 values

age feature has 5 missing_value(s) out of 30000 values

pay_stat_sep feature has 3 missing_value(s) out of 30000 values

pay_stat_aug feature has 5 missing_value(s) out of 30000 values

pay_stat_jul feature has 7 missing_value(s) out of 30000 values

pay_stat_jun feature has 9 missing_value(s) out of 30000 values

pay_stat_may feature has 16 missing_value(s) out of 30000 values

pay_stat_apr feature has 14 missing_value(s) out of 30000 values

bill_amt_sep feature has 11 missing_value(s) out of 30000 values

bill_amt_aug feature has 11 missing_value(s) out of 30000 values

bill_amt_jul feature has 13 missing_value(s) out of 30000 values

bill_amt_jun feature has 15 missing_value(s) out of 30000 values

bill_amt_may feature has 17 missing_value(s) out of 30000 values

bill_amt_apr feature has 10 missing_value(s) out of 30000 values

pay_amt_sep feature has 8 missing_value(s) out of 30000 values

pay_amt_aug feature has 9 missing_value(s) out of 30000 values

pay_amt_jul feature has 8 missing_value(s) out of 30000 values

pay_amt_jun feature has 11 missing_value(s) out of 30000 values

pay_amt_may feature has 11 missing_value(s) out of 30000 values

pay_amt_apr feature has 5 missing_value(s) out of 30000 values

proba_def feature has 3 missing_value(s) out of 30000 values

Observando la distribución de datos perdidos por variable se puede observar que no existe una gran cantidad de datos perdidos si se toma como referencia que el dataset cuenta con 30,000 registros. La variable co nmayores datos perdidos es el "bill statement" de mayo y tiene un total de 17 datos perdidos. También se puede observar que existen 3 registros sin variable respuesta o de "riesgo de default"

In [ ]:
feature_miss = pd.DataFrame({"feature":np.array(feat),"missing_values":np.array(miss)})
feature_miss

           feature  missing_values
0           gender               1
1        education               2
2   marital_status               2
3              age               5
4     pay_stat_sep               3
5     pay_stat_aug               5
6     pay_stat_jul               7
7     pay_stat_jun               9
8     pay_stat_may              16
9     pay_stat_apr              14
10    bill_amt_sep              11
11    bill_amt_aug              11
12    bill_amt_jul              13
13    bill_amt_jun              15
14    bill_amt_may              17
15    bill_amt_apr              10
16     pay_amt_sep               8
17     pay_amt_aug               9
18     pay_amt_jul               8
19     pay_amt_jun              11
20     pay_amt_may              11
21     pay_amt_apr               5
22       proba_def               3

En esta parte se genera un dataframe con registros que tienen cuando menos 1 valor perdido en sus diferentes variables

In [ ]:
# missing values_dataframe

missing_values_df = pd.DataFrame(columns=headers.values(), index = None)
missing_values_df 

for feature in features_list:
   data = df[pd.isnull(df[feature])]
   missing_values_df = pd.concat([missing_values_df,data], axis = 0)

Estos son algunos ejemplos de datos perdidos distribuidos en 1 o más variables

In [ ]:
missing_values_df = missing_values_df.drop_duplicates()
missing_values_df.head()

,ID,credit_amt,gender,education,marital_status,age,pay_stat_sep,pay_stat_aug,pay_stat_jul,pay_stat_jun,...,bill_amt_jun,bill_amt_may,bill_amt_apr,pay_amt_sep,pay_amt_aug,pay_amt_jul,pay_amt_jun,pay_amt_may,pay_amt_apr,proba_def
24365,24366,130000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,390.0,0.0
6227,6228,30000,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,21120.0,1586.0,1365.0,1663.0,5106.0,1050.0,0.0,0.0
182,183,500000,2.0,1.0,1.0,NaN,0.0,0.0,0.0,0.0,...,122967.0,108834.0,70064.0,70010.0,30357.0,30000.0,20000.0,52183.0,20000.0,0.0
219,220,310000,2.0,1.0,2.0,NaN,-1.0,-1.0,-1.0,-1.0,...,0.0,0.0,0.0,4542.0,126.0,0.0,0.0,0.0,0.0,0.0
239,240,140000,2.0,2.0,3.0,NaN,0.0,0.0,0.0,0.0,...,19068.0,16409.0,16383.0,3000.0,2000.0,2198.0,1000.0,3000.0,2399.0,1.0

In [ ]:
print(f'El dataset tiene {str(len(missing_values_df))} registros con al menos 1 valor - perdido. Algunos reigstros más de 1 valor perdido distribuido en diferentes columnas')

El dataset tiene 42 registros con al menos 1 valor - perdido. Algunos reigstros más de 1 valor perdido distribuido en diferentes columnas

**En total el dataset tiene 42 registros con cuando menos 1 valor perdido**

# **Limpieza de datos**

Debido a que la cantidad de registors es pequeña (42 de los 30,000 registros), se procede a eliminarlos. El impacto será nulo y en este caso se prefirió no imputar datos ya que el impacto es mínimo sobre la cantidad total de registros.

In [ ]:
copy_df = df.copy()
copy_df

,ID,credit_amt,gender,education,marital_status,age,pay_stat_sep,pay_stat_aug,pay_stat_jul,pay_stat_jun,...,bill_amt_jun,bill_amt_may,bill_amt_apr,pay_amt_sep,pay_amt_aug,pay_amt_jul,pay_amt_jun,pay_amt_may,pay_amt_apr,proba_def
0,1,20000,2.0,2.0,1.0,24.0,2.0,2.0,-1.0,-1.0,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1.0
1,2,120000,2.0,2.0,2.0,26.0,-1.0,2.0,0.0,0.0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1.0
2,3,90000,2.0,2.0,2.0,34.0,0.0,0.0,0.0,0.0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0.0
3,4,50000,2.0,2.0,1.0,37.0,0.0,0.0,0.0,0.0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0.0
4,5,50000,1.0,2.0,1.0,57.0,-1.0,0.0,-1.0,0.0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,29996,220000,1.0,3.0,1.0,39.0,0.0,0.0,0.0,0.0,...,88004.0,31237.0,15980.0,8500.0,20000.0,5003.0,3047.0,5000.0,1000.0,0.0
29996,29997,150000,1.0,3.0,2.0,43.0,-1.0,-1.0,-1.0,-1.0,...,8979.0,5190.0,0.0,1837.0,3526.0,8998.0,129.0,0.0,0.0,0.0
29997,29998,30000,1.0,2.0,2.0,37.0,4.0,3.0,2.0,-1.0,...,20878.0,20582.0,19357.0,0.0,0.0,22000.0,4200.0,2000.0,3100.0,1.0
29998,29999,80000,1.0,3.0,1.0,41.0,1.0,-1.0,0.0,0.0,...,52774.0,11855.0,48944.0,85900.0,3409.0,1178.0,1926.0,52964.0,1804.0,1.0
29999,30000,50000,1.0,2.0,1.0,46.0,0.0,0.0,0.0,0.0,...,36535.0,32428.0,15313.0,2078.0,1800.0,1430.0,1000.0,1000.0,1000.0,1.0

In [ ]:
copy_df.dropna(inplace = True)
copy_df.head()

,ID,credit_amt,gender,education,marital_status,age,pay_stat_sep,pay_stat_aug,pay_stat_jul,pay_stat_jun,...,bill_amt_jun,bill_amt_may,bill_amt_apr,pay_amt_sep,pay_amt_aug,pay_amt_jul,pay_amt_jun,pay_amt_may,pay_amt_apr,proba_def
0,1,20000,2.0,2.0,1.0,24.0,2.0,2.0,-1.0,-1.0,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1.0
1,2,120000,2.0,2.0,2.0,26.0,-1.0,2.0,0.0,0.0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1.0
2,3,90000,2.0,2.0,2.0,34.0,0.0,0.0,0.0,0.0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0.0
3,4,50000,2.0,2.0,1.0,37.0,0.0,0.0,0.0,0.0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0.0
4,5,50000,1.0,2.0,1.0,57.0,-1.0,0.0,-1.0,0.0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0.0

En esta parte se valida que no haya registros perdidos posterior a la eliminación de los mismos

In [ ]:
copy_df.isnull().any()

ID                False
credit_amt        False
gender            False
education         False
marital_status    False
age               False
pay_stat_sep      False
pay_stat_aug      False
pay_stat_jul      False
pay_stat_jun      False
pay_stat_may      False
pay_stat_apr      False
bill_amt_sep      False
bill_amt_aug      False
bill_amt_jul      False
bill_amt_jun      False
bill_amt_may      False
bill_amt_apr      False
pay_amt_sep       False
pay_amt_aug       False
pay_amt_jul       False
pay_amt_jun       False
pay_amt_may       False
pay_amt_apr       False
proba_def         False
dtype: bool

In [ ]:
print("La cantidad total de registros después de la eliminación de registros peridos es: " + str(len(copy_df)))

La cantidad total de registros después de la eliminación de registros peridos es: 29958

De forma general se eliminaron el .14% de los datos y se mantienen el 99.86% de los datos, aunque es necesario revisar si los valores tienen sentido cuando son registrados:

In [ ]:
copy_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 29958 entries, 0 to 29999
Data columns (total 25 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ID              29958 non-null  int64
 1   credit_amt      29958 non-null  int64
 2   gender          29958 non-null  float64
 3   education       29958 non-null  float64
 4   marital_status  29958 non-null  float64
 5   age             29958 non-null  float64
 6   pay_stat_sep    29958 non-null  float64
 7   pay_stat_aug    29958 non-null  float64
 8   pay_stat_jul    29958 non-null  float64
 9   pay_stat_jun    29958 non-null  float64
 10  pay_stat_may    29958 non-null  float64
 11  pay_stat_apr    29958 non-null  float64
 12  bill_amt_sep    29958 non-null  float64
 13  bill_amt_aug    29958 non-null  float64
 14  bill_amt_jul    29958 non-null  float64
 15  bill_amt_jun    29958 non-null  float64
 16  bill_amt_may    29958 non-null  float64
 17  bill_amt_apr    29958 non-null  float64
 18  pay_amt_sep     29958 non-null  float64
 19  pay_amt_aug     29958 non-null  float64
 20  pay_amt_jul     29958 non-null  float64
 21  pay_amt_jun     29958 non-null  float64
 22  pay_amt_may     29958 non-null  float64
 23  pay_amt_apr     29958 non-null  float64
 24  proba_def       29958 non-null  float64
dtypes: float64(23), int64(2)
memory usage: 5.9 MB

Si observamos los diferentes valores de "educación" se puede observar que la clasificación está basada en una escala de valores de 1 a 4, mientras que los diferentes valores en la tabla tienen una escala de 0 a 6, por lo cual es necesario corroborar que estas escalas tengan sentido

In [ ]:
# Validación de valores distintos de educación
copy_df["education"].value_counts(dropna=False)

2.0    14009
1.0    10572
3.0     4909
5.0      280
4.0      123
6.0       51
0.0       14
Name: education, dtype: int64

De forma similar, el marital status cuenta con una escala de 0 a 3, mientras que los valores descritos aparecen en una escala de 1 a 3, por lo cual es necesario corroborar que las escalas coincidan de forma similar a la escala de educación

In [ ]:
# Validación de valores distintos de educación
copy_df["marital_status"].value_counts(dropna=False)

2.0    15939
1.0    13643
3.0      322
0.0       54
Name: marital_status, dtype: int64

Otra observación es que los pagos tienen claves no definidas: el 0 y el -2, cuando observamos únicamente el primer mes:

In [ ]:
# Validación de claves en pagos de último mes
copy_df["pay_stat_sep"].value_counts(dropna=False)

 0.0    14717
-1.0     5680
 1.0     3678
-2.0     2758
 2.0     2662
 3.0      322
 4.0       76
 5.0       26
 8.0       19
 6.0       11
 7.0        9
Name: pay_stat_sep, dtype: int64

## **Parte 3: Preparación de los datos**

**Con base en los resultados de tu libreta de Google Colab de la Parte 2 responde detalladamente las siguientes preguntas:**

> **¿Qué datos consideró mas importantes? ¿Por qué?**
>
> Todas las columnas, salvo la de genero, pueden ser contempladas inicialente; la remoción de esta columna tiene que ver con evitar una involuntaria discriminación de cualquier algoritmo (Ferrer et.al., 2021).
Dependiendo del análisis que se quiera realizar se pudiera o no remover otras variables, pero esto dependerá del alcance del estudio. Las variables iniciales contempladas tienen sentido, a mayor es el crédito disponible del cliente mayor es la probabilidad de tener historial crediticio, las variables demográficas pueden ser útiles para efectos de categorizar también a los clientes ya que pueden ayudar a descomponer la dimensionalidad y verificar si existen comportamientos diferentes de acuerdo al segmento demográfico al que pertenecen. Los estatus de pago y deuda por mes ayudan a entender los patrones de pago, idóneamente sería conveniente tener más de esta información, incluso tener mejores espacios (15 días) para tener una mayor profundidad en los patrones de pago.
>
> **¿Se eliminaron o reemplazaron datos nulos? ¿Qué se hizo y por qué?**
>
> Se eliminaron los valores nulos, la cantidad de valores es mínima. 42 registros de 30,000 datos totales son nulos y representan un porcentaje pequeño mínimo de los valores totales. Así miso no se consideró prudente imputar datos por medias, medianas ya que la cantidad de datos grande y no hay identificación de segementos específicos de clientes que puedan ayudar a imputar los datos con mejor claridad.
>
> Sin embargo, si hay datos que sería necesario consultar con la fuente original. Por ejemplo: se recibieron estados civiles y grados de educación con datos no dentro de los rangos señalados, antes de considerarlo nulos, sería prudente averiguar el por qué. Otro caso es en los patrones de pago donde se encontraron las claves 0 y -2 no definidas.
> 
> **¿Es necesario ordenar los datos para el análisis? Sí / No / ¿Por qué?**
>
> Los datos requieren ser limpiados; sobre todo para los puntos de los valores anómalos o no definidos en las categorias: {5,6}𝝐|Educación| y definir los estatus de pago -2 u 0. También es importante verificar si los datos con valores 0 son en realidad datos por remover o si efectivamente sólo existen 42 elementos que remover.
> Finalmente, si bien es necesario transformar los datos, ordernarlos *per-se* no es necesario.
>
> **¿Existen problemas de formato que deban solucionar antes del proceso de modelado? Sí / No / Por qué.**
> Sí, las categorizaciones tienen que ser validadas contra los datos reales ya que los datos reales cuentan con categorías adicionales a las descritas.
>
> **¿Qué ajustes se realizaron en el proceso de limpieza de datos (agregar, integrar, eliminar, modificar registros (filas), cambiar atributos (columnas)**
>
> En esta primer estapa sólo se eliminaron registros nulos, los atributos se pueden eliminar en estapas posteriores. La cantidad de registros nulos es mínima y es mínima de forma uniforme en todas las variables. Si alguna variable tuviera una cantidad significativa de valores nulos pudiera ser eliminada. Las variables representadas por periodo pueden continuar ayduando a pronosticar la probabilid de "default" si se reduce el periodo a 3 meses de historia, sin embargo no descartaría la relevancia de alguna variable hasta realizar un análisis de dimensionalidad o de correlación.

## Referencias

*Amazon (s.f.). Data Warehouse Concepts AWS. Recuperado 04 de octubre de 2022, de: https://aws.amazon.com/data-warehouse/*

*Ferrer, X., van Nuenen, T., Such, J. M., Coté, M., & Criado, N. (2021). Bias and Discrimination in AI: a cross-disciplinary perspective. IEEE Technology and Society Magazine, 40(2), 72-80.*

*Metwalli, S. A. (2020, September 27). Databases 101: Introduction to databases for Data scientists. Medium. Recuperado 04 de octubre de 2022, de: https://towardsdatascience.com/databases-101-introduction-to-databases-for-data-scientists-ee18c9f0785d*

 *Oracle (s.f.). What Is a Data Warehouse? Oracle. Recuperado 04 de octubre de 2022, de: https://www.oracle.com/database/what-is-a-data-warehouse/*

*Teate, R. M. P. (2021). Sql for data scientists: A beginner's guide for building datasets for analysis. John Wiley &amp; Sons, Inc.*


*Yeh, I. C., & Lien, C. H. (2009). The comparisons of data mining techniques for the predictive accuracy of probability of default of credit card clients. Expert Systems with Applications, 36(2), 2473-2480.*